# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# Local application files (created at runtime)
settings.json
i18n/
logs/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
.autotest

# Web workbench (Sass, Compass, etc.)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc

# XUnit
*.xml
testresults.xml

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# StyleCop
StyleCopReport.xml
/RELEASE_NOTES.md
